    <div class="col-md-6">
        <div class="detail">
            <button type="button" class="btn btn-default btn-sm">
              <span >{{year}}</span>
            </button>
            <span> Release Date {{ datemovie | date }} </span>
            <span> {{datemovie}}</span>
        </div>
        <div class="detail">
            <button type="button" class="btn btn-default btn-sm">
              <span>{{longmovie}}</span>
            </button>
            <span> Running Time {{ timemovie }} minutes </span>
        </div>
    </div>